<?xml version="1.0" encoding="utf-8" ?>
<!--<!DOCTYPE config PUBLIC "-//mybatis.org//DTD projectcopier 3.0//EN"-->
<!--"./config.dtd">-->
<config>
    <project name="aaaa"
             templateBaseDir="D:\shigoto\gitee\rpg-one\rpg-tools\src\test\resources\freemarkertemplates"
             targetBaseDir="d:/tmp/fmj/g-map"
             dbType="mysql"
             url="jdbc:mysql://localhost:3306/eblog?useunicode=true&amp;characterEncoding=utf8&amp;autoReconnect=true&amp;failOverReadOnly=false&amp;zeroDateTimeBehavior=convertToNull&amp;useSSL=false&amp;serverTimezone=GMT%2b8"
             username="root"
             password="qwer1234"
             tablePrefix=""
    />

    <properties>
        <property name="productName" value="generator111324231"/>
        <property name="basePackage" value="com.billy.eblog"/>
        <property name="basePackageAsPath" value="com/billy/eblog"/>
        <property name="author" value="hhahahahah"/>
    </properties>
    <!-- tableNameStrategy = origin|camel|remove_AndUpperNextLetter -->
    <segment comment="generate files" tableName2ClassNameConvertStrategy="origin">
        <file templateSrc="/po.ftl" dst="/${productName}/${basePackageAsPath}/po" suffix="PO.java"
              filterDestinationFilePath="true"/>
    </segment>
</config>